[Unit]
Description=Aquarius opensource home water supply controller
After=network.target

[Service]
#ExecStartPre=/usr/bin/owfs /mnt/1wire
ExecStart=/usr/local/bin/aquarius
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=idle

[Install]
WantedBy=multi-user.target
